/* ========= common css part start ============= */
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
body{
    background: #B0FFFA;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.main_div{
    width: 150px;
    
    background: red;
    

}
.lineOne{
    display: flex;
    gap: 5px;
    border: 2px solid black;
     margin: 5px;
}

.lineOne .one{
    background: green;
    width:50px ;
    height: 50px;
}
/* ========= common css part end ============= */
/* ========= common css part start ============= */
/* ========= common css part end ============= */
/* ========= common css part start ============= */
/* ========= common css part end ============= */
/* ========= common css part start ============= */
/* ========= common css part end ============= */
/* ========= common css part start ============= */
/* ========= common css part end ============= */