/* ==============  common css part start ================= */
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ==============  common css part end ================= */
.tactic_box{
    width: 300px;
    height: 300px;
    background: #B0FFFA;
    border: .5px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3px;
    

}
.box{
    width: 32%;
    height: 32%;
    font-size: 30px;

}